* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: caveat;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dadada;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #c0c0c0;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
}

h1 {
  text-align: center;
}

hr {
  font-weight: bold;
  height: 3px;
  background: black;
  margin-bottom: 10px;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 50px;
  background: white;
}